In [ ]:
#1

In [1]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]

result = courses_collection.bulk_write(operations)
print('Courses Inserted successfully')

Courses Inserted successfully

In [2]:
courses_collection.update_one(
    {'course': 'Math 101'},
    {'$set': {'students': ['Nayuki', 'Liguang', 'Yukikaze', 'Kiroku', 'Ushio', 'Kinari', 'Momiji', 'Yumenosuke', 'Kodama', 'Barbara', 'Dick', 'Cassandra', 'Stephanie', 'Dinah', 'Duke', 'Kate', 'Cassie', 'Cara', 'Zatanna', 'Harvey', 'Barry', 'Koriandr', 'Roy', 'Donna', 'Jinny', 'Clark', 'Alura', 'James', 'Leo', 'Lucy']}}
)

courses_collection.update_one(
    {'course': 'CS 102'},
    {'$set': {'students': ['Kafka', 'Raito', 'Ten', 'Ryui', 'Toi', 'Sakujiro', 'Daniel', 'Kotonojo', 'Minamo', 'Bruce', 'Timothy', 'Selina', 'Jason', 'Hal', 'Kyle', 'Oliver', 'Conner', 'Guy', 'John', 'Terry', 'Victor', 'Keli', 'Jimmy', 'Thomas', 'Elizabeth']}}
)

courses_collection.update_one(
    {'course': 'History 201'},
    {'$set': {'students': ['Tao', 'Morozumi', 'Nanaki', 'Renga', 'Muneuji', 'Kaede', 'Yuda', 'Hakkei', 'Kiba', 'Lois', 'Diana', 'Jonathan', 'Alfred', 'Wally', 'Garfield', 'Rachel', 'Nolan', 'Amy', 'Theodore', 'Jon']}}
)

courses_collection.update_one(
    {'course': 'Physics 202'},
    {'$set': {'students': ['Netaro', 'Nagi', 'Akuta', 'Chihiro', 'Kuguri', 'Yodaka', 'Yachiyo', 'Sojun', 'Koharu', 'Talia', 'Lex', 'Bart', 'Pamela', 'Damian', 'Harley']}}
)

for doc in courses_collection.find():
    print(doc)

{'_id': ObjectId('690c1e7ff0bd74c77530f16b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': ['Nayuki', 'Liguang', 'Yukikaze', 'Kiroku', 'Ushio', 'Kinari', 'Momiji', 'Yumenosuke', 'Kodama', 'Barbara', 'Dick', 'Cassandra', 'Stephanie', 'Dinah', 'Duke', 'Kate', 'Cassie', 'Cara', 'Zatanna', 'Harvey', 'Barry', 'Koriandr', 'Roy', 'Donna', 'Jinny', 'Clark', 'Alura', 'James', 'Leo', 'Lucy']}
{'_id': ObjectId('690c1e7ff0bd74c77530f16c'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': ['Kafka', 'Raito', 'Ten', 'Ryui', 'Toi', 'Sakujiro', 'Daniel', 'Kotonojo', 'Minamo', 'Bruce', 'Timothy', 'Selina', 'Jason', 'Hal', 'Kyle', 'Oliver', 'Conner', 'Guy', 'John', 'Terry', 'Victor', 'Keli', 'Jimmy', 'Thomas', 'Elizabeth']}
{'_id': ObjectId('690c1e7ff0bd74c77530f16d'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': ['Tao', 'Morozumi', 'Nanaki', 'Renga', 'Muneuji', 'Kaede', 'Yuda', 'Hakkei', 'Kiba', 'Lois', 'Diana', 'Jonathan', 'Alfred', 'Wally', 'Garfield', 'Rachel', 'Nolan', 'Amy', 'Theodore', 'Jon']}
{'_id': ObjectId('690c1e7ff0bd74c77530f16e'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'students': ['Netaro', 'Nagi', 'Akuta', 'Chihiro', 'Kuguri', 'Yodaka', 'Yachiyo', 'Sojun', 'Koharu', 'Talia', 'Lex', 'Bart', 'Pamela', 'Damian', 'Harley']}

In [ ]:
#2

In [3]:
print("Courses with more than 20 enrollments:")
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

Courses with more than 20 enrollments:
{'_id': ObjectId('690c1e7ff0bd74c77530f16b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': ['Nayuki', 'Liguang', 'Yukikaze', 'Kiroku', 'Ushio', 'Kinari', 'Momiji', 'Yumenosuke', 'Kodama', 'Barbara', 'Dick', 'Cassandra', 'Stephanie', 'Dinah', 'Duke', 'Kate', 'Cassie', 'Cara', 'Zatanna', 'Harvey', 'Barry', 'Koriandr', 'Roy', 'Donna', 'Jinny', 'Clark', 'Alura', 'James', 'Leo', 'Lucy']}
{'_id': ObjectId('690c1e7ff0bd74c77530f16c'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': ['Kafka', 'Raito', 'Ten', 'Ryui', 'Toi', 'Sakujiro', 'Daniel', 'Kotonojo', 'Minamo', 'Bruce', 'Timothy', 'Selina', 'Jason', 'Hal', 'Kyle', 'Oliver', 'Conner', 'Guy', 'John', 'Terry', 'Victor', 'Keli', 'Jimmy', 'Thomas', 'Elizabeth']}

In [4]:
print("\nCourses in Computer Science or Mathematics departments:")
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

Courses in Computer Science or Mathematics departments:
{'_id': ObjectId('690c1e7ff0bd74c77530f16b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': ['Nayuki', 'Liguang', 'Yukikaze', 'Kiroku', 'Ushio', 'Kinari', 'Momiji', 'Yumenosuke', 'Kodama', 'Barbara', 'Dick', 'Cassandra', 'Stephanie', 'Dinah', 'Duke', 'Kate', 'Cassie', 'Cara', 'Zatanna', 'Harvey', 'Barry', 'Koriandr', 'Roy', 'Donna', 'Jinny', 'Clark', 'Alura', 'James', 'Leo', 'Lucy']}
{'_id': ObjectId('690c1e7ff0bd74c77530f16c'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': ['Kafka', 'Raito', 'Ten', 'Ryui', 'Toi', 'Sakujiro', 'Daniel', 'Kotonojo', 'Minamo', 'Bruce', 'Timothy', 'Selina', 'Jason', 'Hal', 'Kyle', 'Oliver', 'Conner', 'Guy', 'John', 'Terry', 'Victor', 'Keli', 'Jimmy', 'Thomas', 'Elizabeth']}

In [ ]:
#3

In [5]:
print("Average enrollment per department:")
avg_pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]

for result in courses_collection.aggregate(avg_pipeline):
    print(result)

Average enrollment per department:
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}

In [6]:
print("Maximum enrollment per department:")
max_pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]

for result in courses_collection.aggregate(max_pipeline):
    print(result)

Maximum enrollment per department:
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Mathematics', 'max_enrollment': 30}

In [ ]:
#4

In [8]:
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690c1e7ff0bd74c77530f16b'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('690c1e7ff0bd74c77530f16c'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('690c1e7ff0bd74c77530f16d'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('690c1e7ff0bd74c77530f16e'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [9]:
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690c1e7ff0bd74c77530f16b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': ['Nayuki', 'Liguang', 'Yukikaze', 'Kiroku', 'Ushio', 'Kinari', 'Momiji', 'Yumenosuke', 'Kodama', 'Barbara', 'Dick', 'Cassandra', 'Stephanie', 'Dinah', 'Duke', 'Kate', 'Cassie', 'Cara', 'Zatanna', 'Harvey', 'Barry', 'Koriandr', 'Roy', 'Donna', 'Jinny', 'Clark', 'Alura', 'James', 'Leo', 'Lucy'], 'enrollment_category': 'high'}
{'_id': ObjectId('690c1e7ff0bd74c77530f16c'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': ['Kafka', 'Raito', 'Ten', 'Ryui', 'Toi', 'Sakujiro', 'Daniel', 'Kotonojo', 'Minamo', 'Bruce', 'Timothy', 'Selina', 'Jason', 'Hal', 'Kyle', 'Oliver', 'Conner', 'Guy', 'John', 'Terry', 'Victor', 'Keli', 'Jimmy', 'Thomas', 'Elizabeth'], 'enrollment_category': 'high'}
{'_id': ObjectId('690c1e7ff0bd74c77530f16d'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': ['Tao', 'Morozumi', 'Nanaki', 'Renga', 'Muneuji', 'Kaede', 'Yuda', 'Hakkei', 'Kiba', 'Lois', 'Diana', 'Jonathan', 'Alfred', 'Wally', 'Garfield', 'Rachel', 'Nolan', 'Amy', 'Theodore', 'Jon'], 'enrollment_category': 'low'}
{'_id': ObjectId('690c1e7ff0bd74c77530f16e'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'students': ['Netaro', 'Nagi', 'Akuta', 'Chihiro', 'Kuguri', 'Yodaka', 'Yachiyo', 'Sojun', 'Koharu', 'Talia', 'Lex', 'Bart', 'Pamela', 'Damian', 'Harley'], 'enrollment_category': 'low'}

In [ ]:
#HW

In [10]:
pipeline_HW1 = [
    {'$group': {'_id': '$department', 'total_courses': {'$sum': 1}}}
]

print("Count of courses per department:")
for result in courses_collection.aggregate(pipeline_HW1):
    print(result)

Count of courses per department:
{'_id': 'History', 'total_courses': 1}
{'_id': 'Physics', 'total_courses': 1}
{'_id': 'Mathematics', 'total_courses': 1}
{'_id': 'Computer Science', 'total_courses': 1}

In [11]:
pipeline_HW2 = [
    {'$match': {'enrollments': {'$gt': 25}, 'department': 'Computer Science'}},
    {'$group': {'_id': '$department', 'total_courses': {'$sum': 1}, 'total_enrollments': {'$sum': '$enrollments'}}}
]

print("Filtered and grouped result:")
for result in courses_collection.aggregate(pipeline_HW2):
    print(result)

Filtered and grouped result:

In [12]:
pipeline_HW2 = [
    {'$match': {'enrollments': {'$eq': 25}, 'department': 'Computer Science'}},
    {'$group': {'_id': '$department', 'total_courses': {'$sum': 1}, 'total_enrollments': {'$sum': '$enrollments'}}}
]

print("Filtered and grouped result:")
for result in courses_collection.aggregate(pipeline_HW2):
    print(result)

Filtered and grouped result:
{'_id': 'Computer Science', 'total_courses': 1, 'total_enrollments': 25}

In [18]:
students_collection = db['students']
students_collection.insert_many([
    {'student_name': 'Martha', 'course': 'Math 101'},
    {'student_name': 'Sam', 'course': 'CS 102'},
    {'student_name': 'Nika', 'course': 'CS 102'},
    {'student_name': 'Elenor', 'course': 'History 201'}
])

pipeline_HW3 = [
    {'$lookup': {'from': 'students', 'localField': 'course', 'foreignField': 'course', 'as': 'student_details'}},
    {'$project': {'_id': 0, 'course': 1, 'department': 1, 'enrollments': 1, 'students': 1, 'student_details.student_name': 1}}
]

print(" Joined data (courses + students):")
for result in courses_collection.aggregate(pipeline_HW3):
    print(result)

 Joined data (courses + students):
{'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': ['Nayuki', 'Liguang', 'Yukikaze', 'Kiroku', 'Ushio', 'Kinari', 'Momiji', 'Yumenosuke', 'Kodama', 'Barbara', 'Dick', 'Cassandra', 'Stephanie', 'Dinah', 'Duke', 'Kate', 'Cassie', 'Cara', 'Zatanna', 'Harvey', 'Barry', 'Koriandr', 'Roy', 'Donna', 'Jinny', 'Clark', 'Alura', 'James', 'Leo', 'Lucy'], 'student_details': [{'student_name': 'Martha'}]}
{'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': ['Kafka', 'Raito', 'Ten', 'Ryui', 'Toi', 'Sakujiro', 'Daniel', 'Kotonojo', 'Minamo', 'Bruce', 'Timothy', 'Selina', 'Jason', 'Hal', 'Kyle', 'Oliver', 'Conner', 'Guy', 'John', 'Terry', 'Victor', 'Keli', 'Jimmy', 'Thomas', 'Elizabeth'], 'student_details': [{'student_name': 'Sam'}, {'student_name': 'Nika'}]}
{'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': ['Tao', 'Morozumi', 'Nanaki', 'Renga', 'Muneuji', 'Kaede', 'Yuda', 'Hakkei', 'Kiba', 'Lois', 'Diana', 'Jonathan', 'Alfred', 'Wally', 'Garfield', 'Rachel', 'Nolan', 'Amy', 'Theodore', 'Jon'], 'student_details': [{'student_name': 'Elenor'}]}
{'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'students': ['Netaro', 'Nagi', 'Akuta', 'Chihiro', 'Kuguri', 'Yodaka', 'Yachiyo', 'Sojun', 'Koharu', 'Talia', 'Lex', 'Bart', 'Pamela', 'Damian', 'Harley'], 'student_details': []}