In [ ]:
#NO1

In [1]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
#NO2

In [2]:
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [3]:
# add
more_employees = [
    {'name': 'Nayuki', 'department': 'IT', 'age': 23, 'salary': 6500},
    {'name': 'Kafka', 'department': 'IT', 'age': 20, 'salary': 6000},
    {'name': 'Sakujiro', 'department': 'IT', 'age': 28, 'salary': 7000},
    {'name': 'Kinari', 'department': 'IT', 'age': 19, 'salary': 4500},
    {'name': 'Daniel', 'department': 'IT', 'age': 33, 'salary': 5000},
    {'name': 'Muneuji', 'department': 'IT', 'age': 16, 'salary': 4500},
    {'name': 'Ten', 'department': 'Finance', 'age': 21, 'salary': 4500},
    {'name': 'Tao', 'department': 'Finance', 'age': 20, 'salary': 4500},
    {'name': 'Liguang', 'department': 'Finance', 'age': 23, 'salary': 5500},
    {'name': 'Raito', 'department': 'Finance', 'age': 25, 'salary': 6000},
    {'name': 'Yukikaze', 'department': 'Finance', 'age': 25, 'salary': 5000}   
]
collection.insert_many(more_employees)
print('Data tambahan berhasil dimasukkan')

# update 
collection.update_one(
    {'name': 'Alice'},
    {'$set': {'salary': 5000}}
)
print('Data Alice berhasil diperbarui')

# dlete 
collection.delete_one({'name': 'Bob'})
print('Data Bob berhasil dihapus')

for doc in collection.find():
    print(doc)

Data tambahan berhasil dimasukkan
Data Alice berhasil diperbarui
Data Bob berhasil dihapus
{'_id': ObjectId('6902e5d451ce514ee6649697'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 5000}
{'_id': ObjectId('6902e75551ce514ee6649698'), 'name': 'Nayuki', 'department': 'IT', 'age': 23, 'salary': 6500}
{'_id': ObjectId('6902e75551ce514ee6649699'), 'name': 'Kafka', 'department': 'IT', 'age': 20, 'salary': 6000}
{'_id': ObjectId('6902e75551ce514ee664969a'), 'name': 'Sakujiro', 'department': 'IT', 'age': 28, 'salary': 7000}
{'_id': ObjectId('6902e75551ce514ee664969b'), 'name': 'Kinari', 'department': 'IT', 'age': 19, 'salary': 4500}
{'_id': ObjectId('6902e75551ce514ee664969c'), 'name': 'Daniel', 'department': 'IT', 'age': 33, 'salary': 5000}
{'_id': ObjectId('6902e75551ce514ee664969d'), 'name': 'Muneuji', 'department': 'IT', 'age': 16, 'salary': 4500}
{'_id': ObjectId('6902e75551ce514ee664969e'), 'name': 'Ten', 'department': 'Finance', 'age': 21, 'salary': 4500}
{'_id': ObjectId('6902e75551ce514ee664969f'), 'name': 'Tao', 'department': 'Finance', 'age': 20, 'salary': 4500}
{'_id': ObjectId('6902e75551ce514ee66496a0'), 'name': 'Liguang', 'department': 'Finance', 'age': 23, 'salary': 5500}
{'_id': ObjectId('6902e75551ce514ee66496a1'), 'name': 'Raito', 'department': 'Finance', 'age': 25, 'salary': 6000}
{'_id': ObjectId('6902e75551ce514ee66496a2'), 'name': 'Yukikaze', 'department': 'Finance', 'age': 25, 'salary': 5000}

In [ ]:
#NO3

In [4]:
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 5083.333333333333}
{'_id': 'IT', 'average_salary': 5583.333333333333}

In [ ]:
#NO4.1

In [5]:
products = db['products']

products.delete_many({})

product_data = [
    {'name': 'Laptop Asus', 'category': 'Electronics', 'price': 12000000},
    {'name': 'Smartphone Samsung', 'category': 'Electronics', 'price': 9000000},
    {'name': 'Headphone Sony', 'category': 'Electronics', 'price': 2500000},
    {'name': 'Kemeja Batik', 'category': 'Fashion', 'price': 350000},
    {'name': 'Sepatu Nike', 'category': 'Fashion', 'price': 1200000},
    {'name': 'Meja Belajar', 'category': 'Furniture', 'price': 800000},
    {'name': 'Kursi Kantor', 'category': 'Furniture', 'price': 1500000},
    {'name': 'Kompor Gas', 'category': 'Home Appliance', 'price': 700000},
    {'name': 'Blender Philips', 'category': 'Home Appliance', 'price': 650000},
    {'name': 'Dispenser Aqua', 'category': 'Home Appliance', 'price': 950000}
]

products.insert_many(product_data)
print("10 data produk berhasil dimasukkan ke koleksi 'products'.")

for product in products.find():
    print(product)

10 data produk berhasil dimasukkan ke koleksi 'products'.
{'_id': ObjectId('6902e76251ce514ee66496a3'), 'name': 'Laptop Asus', 'category': 'Electronics', 'price': 12000000}
{'_id': ObjectId('6902e76251ce514ee66496a4'), 'name': 'Smartphone Samsung', 'category': 'Electronics', 'price': 9000000}
{'_id': ObjectId('6902e76251ce514ee66496a5'), 'name': 'Headphone Sony', 'category': 'Electronics', 'price': 2500000}
{'_id': ObjectId('6902e76251ce514ee66496a6'), 'name': 'Kemeja Batik', 'category': 'Fashion', 'price': 350000}
{'_id': ObjectId('6902e76251ce514ee66496a7'), 'name': 'Sepatu Nike', 'category': 'Fashion', 'price': 1200000}
{'_id': ObjectId('6902e76251ce514ee66496a8'), 'name': 'Meja Belajar', 'category': 'Furniture', 'price': 800000}
{'_id': ObjectId('6902e76251ce514ee66496a9'), 'name': 'Kursi Kantor', 'category': 'Furniture', 'price': 1500000}
{'_id': ObjectId('6902e76251ce514ee66496aa'), 'name': 'Kompor Gas', 'category': 'Home Appliance', 'price': 700000}
{'_id': ObjectId('6902e76251ce514ee66496ab'), 'name': 'Blender Philips', 'category': 'Home Appliance', 'price': 650000}
{'_id': ObjectId('6902e76251ce514ee66496ac'), 'name': 'Dispenser Aqua', 'category': 'Home Appliance', 'price': 950000}

In [ ]:
#NO4.2

In [6]:
average_price_pipeline = [
    {'$group': {'_id': None, 'avgPrice': {'$avg': '$price'}}}
]

average_result = list(products.aggregate(average_price_pipeline))
average_price = average_result[0]['avgPrice']

print(f"Rata-rata harga produk: Rp{average_price:,.0f}")

print("\nProduk dengan harga di atas rata-rata:")
for product in products.find({'price': {'$gt': average_price}}):
    print(f"{product['name']} ({product['category']}) : Rp{product['price']:,}")

Rata-rata harga produk: Rp2,965,000

Produk dengan harga di atas rata-rata:
Laptop Asus (Electronics) : Rp12,000,000
Smartphone Samsung (Electronics) : Rp9,000,000

In [ ]:
#NO4.3

In [7]:
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]

print("Total produk per kategori:")
for result in products.aggregate(pipeline):
    print(f"{result['_id']}: {result['total_products']} produk")

Total produk per kategori:
Furniture: 2 produk
Home Appliance: 3 produk
Fashion: 2 produk
Electronics: 3 produk

In [ ]:
#NO5.1

In [8]:
pipeline = [
    {'$sort': {'department': 1, 'salary': -1}}, 
    {'$group': {
        '_id': '$department',
        'top_employees': {
            '$push': {
                'name': '$name',
                'salary': '$salary',
                'age': '$age'
            }
        }
    }},
    {'$project': {
        '_id': 1,
        'top_employees': {'$slice': ['$top_employees', 5]}  
    }}
]

print("5 Karyawan dengan gaji tertinggi per departemen:")
for dept in collection.aggregate(pipeline):
    print(f"\nDepartemen: {dept['_id']}")
    for emp in dept['top_employees']:
        print(f"{emp['name']} | Gaji: {emp['salary']} | Umur: {emp['age']}")

5 Karyawan dengan gaji tertinggi per departemen:

Departemen: Finance
Raito | Gaji: 6000 | Umur: 25
Liguang | Gaji: 5500 | Umur: 23
Alice | Gaji: 5000 | Umur: 29
Yukikaze | Gaji: 5000 | Umur: 25
Ten | Gaji: 4500 | Umur: 21

Departemen: IT
Sakujiro | Gaji: 7000 | Umur: 28
Nayuki | Gaji: 6500 | Umur: 23
Kafka | Gaji: 6000 | Umur: 20
Daniel | Gaji: 5000 | Umur: 33
Kinari | Gaji: 4500 | Umur: 19

In [ ]:
#NO5.2

In [9]:
delete_result = collection.delete_many({'age': {'$lt': 25}})

print(f"{delete_result.deleted_count} karyawan dengan umur di bawah 25 tahun berhasil dihapus.")

7 karyawan dengan umur di bawah 25 tahun berhasil dihapus.

In [ ]:
#NO5.3

In [10]:
pipeline = [
    {
        '$group': {
            '_id': '$department',              
            'total_salary': {'$sum': '$salary'},  
            'avg_age': {'$avg': '$age'}           
        }
    },
    {
        '$sort': {'_id': 1} 
    }
]

print("Laporan Total Gaji & Rata-rata Umur per Departemen:\n")
for dept in collection.aggregate(pipeline):
    print(f"- Departemen: {dept['_id']}")
    print(f"  Total Gaji   : Rp{dept['total_salary']:,}")
    print(f"  Rata-rata Umur: {dept['avg_age']:.2f} tahun\n")

Laporan Total Gaji & Rata-rata Umur per Departemen:

- Departemen: Finance
  Total Gaji   : Rp16,000
  Rata-rata Umur: 26.33 tahun

- Departemen: IT
  Total Gaji   : Rp12,000
  Rata-rata Umur: 30.50 tahun